.header{
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 31px;
}
.logo p{
    font-weight: 700;
    font-size: 1.25rem;
    padding-left: .25em;
}
p{
    font-weight: 200;
    font-size: .85rem;
}